/* index.css */

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background-color: #f9f9f9; /* 전체 배경 색상 */
  color: #333; /* 텍스트 기본 색상 */
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 20px;
  padding-top:100px;
}

/* 네비게이션 바 스타일 */
.navbar {
  background: linear-gradient(90deg, #9B2C5D, #FE6B8B);
  color: white;
  padding: 10px 20px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  z-index: 9999;
}

.navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar .btn {
  border-radius: 20px;
  margin: 0 5px;
  padding: 8px 15px;
  font-size: 14px;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.navbar .btn:hover {
  background-color: #FE6B8B;
  transform: translateY(-2px);
}

/* 텍스트 블록 */
.doc-block {
  background: white;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 20px 0;
  width: 70%;
}

.content-box {
  width: 100%;
  min-height: 120px;
  border: none;
  outline: none;
  resize: none;
  background-color: #f4f4f4;
  border-radius: 8px;
  padding: 15px;
  font-size: 16px;
  line-height: 1.5;
  transition: box-shadow 0.3s ease;
}

.content-box:focus {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  background-color: #fff;
}

.content-box-button {
  margin-top: 10px;
  background-color: #355395;
  color: white;
  border: none;
  padding: 8px 15px;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 5px;
  transition: background-color 0.3s ease;
}

.content-box-button:hover {
  background-color: #FE6B8B;
}

/* 그래프 블록 */
#root > div > div {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 20px 0;
}

#root > div > div > canvas {
  border-radius: 10px;
}

/* 공통 버튼 */
.btn {
  font-size: 14px;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  color: white;
  cursor: pointer;
  background-color: #355395;
  transition: all 0.3s ease;
}

.btn:hover {
  background-color: #FE6B8B;
  transform: translateY(-2px);
}

.content-box-button.delete {
  background-color: #e74c3c; /* 삭제 버튼 색상 */
  color: white;
  margin-right: 5px;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.content-box-button.delete:hover {
  background-color: #c0392b;
  transform: translateY(-2px);
}